:root {
    --dark: #820004;
    --very-dark: #650104;
    --light: #a80005;
    --grayish3: rgba(66, 35, 35, 0.3);
    --grayish4: rgba(66, 35, 35, 0.4);
    --grayish5: rgba(66, 35, 35, 0.5);
    --off-white: #fdfbf9;
}

@font-face {
    font-family: "Fira Mono";
    src: url('./font/firamono-bold-webfont.woff2') format('woff2'),
        url('./font/firamono-bold-webfont.woff') format('woff'),
        url('./font/firamono-bold-webfont.ttf') format('truetype')
}

@font-face {
    font-family: "Fira Mono Regular";
    src: url('./font/firamono-regular-webfont.woff2') format('woff2'),
        url('./font/firamono-regular-webfont.woff') format('woff'),
        url('./font/firamono-regular-webfont.ttf') format('truetype')
}

body {
    background-color: black;
    font-family: 'Fira Mono';
}

.header {
    color: var(--off-white);
    text-align: center;
    font-size: 1.8rem;
    font-weight: bold;
    padding-bottom: .5rem;
}

.sub-head {
    font-size: .8rem;
    /* color: #cfcdcb; */
    font-family: 'Fira Mono Regular';
}

.tools-header {
    margin-top: 1rem;
}

.links-list {
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: .5rem;
}

.icon {
    height: 30px;
    width: 30px;
    margin-right: auto;
    padding-left: .5rem;

}

.links-button:hover .icon {
    -webkit-filter: drop-shadow(5px 5px 5px #222);
    filter: drop-shadow(5px 5px 5px #222);
}

.tools-button:hover .icon {
    -webkit-filter: drop-shadow(5px 5px 5px rgb(121, 0, 0));
    filter: drop-shadow(1px 1px 0px rgb(146, 0, 0));
}

.text {
    margin-right: auto;
}

.links-list a {

    color: var(--off-white);
    text-decoration: none;
    width: 20rem;
    border: solid 0px;
    border-radius: 20px;
    display: flex;
    padding: .5rem;
    font-size: 1.1rem
}




/* CSS */
.tools-button {
    background-image: none !important;
    border: solid var(--dark) 2px !important
}

.links-button {
    background-image: radial-gradient(100% 100% at 100% 0, var(--dark) 0, var(--light) 100%);
}

.button {
    align-items: center;
    appearance: none;

    border: 0;
    border-radius: 6px;
    box-shadow: var(--grayish4) 0 2px 4px, var(--grayish3) 0 7px 13px -3px, var(--grayish5) 0 -3px 0 inset;
    box-sizing: border-box;
    color: #fff;
    cursor: pointer;
    display: inline-flex;
    height: 48px;
    /* justify-content: center; */
    line-height: 1;
    list-style: none;
    overflow: hidden;
    padding-left: 16px;
    padding-right: 16px;
    position: relative;
    text-align: left;
    text-decoration: none;
    transition: box-shadow .15s, transform .15s;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    white-space: nowrap;
    will-change: box-shadow, transform;
    font-size: 18px;
}

.button:focus {
    box-shadow: var(--dark) 0 0 0 1.5px inset, var(--grayish4) 0 2px 4px, var(--grayish3) 0 7px 13px -3px, var(--dark) 0 -3px 0 inset;
}

.button:hover {
    box-shadow: var(--grayish4) 0 4px 8px, var(--grayish3) 0 7px 13px -3px, var(--dark) 0 -3px 0 inset;
    transform: translateY(-2px);
    background-image: radial-gradient(100% 100% at 100% 0, var(--very-dark) 0, var(--dark) 100%);
}

.button:active {
    box-shadow: var(--dark) 0 3px 7px inset;
    transform: translateY(2px);

}

.button:focus {
    outline: solid 2px rgb(255, 36, 36);

}